# Binários
push_swap
checker
a.out

# Ficheiros objeto
*.o

# Ficheiros de dependências
*.d

# Ficheiros temporários do editor
*.swp
*.swo
*~

# VS Code
.vscode/

# MacOS
.DS_Storechecker_linux
checker_Mac
fedora_checker
